<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            name="EMF-TX JUnit Test Constraints"
            id="org.eclipse.emf.transaction.tests"/>
      <constraintProvider cache="true">
         <package namespaceUri="http:///org/eclipse/emf/examples/library/extlibrary.ecore/1.0.0"/>
         <constraints categories="org.eclipse.emf.transaction.tests">
            <constraint
                  lang="Java"
                  class="org.eclipse.emf.transaction.tests.constraints.BookTitleConstraint"
                  severity="ERROR"
                  mode="Live"
                  name="Books must have titles"
                  id="bookTitle"
                  statusCode="1">
               <description>
                  Books must have non-null, non-empty titles.
               </description>
               <message>
                  Book does not have a title.
               </message>
               <target class="Book">
                  <event name="Set">
                     <feature name="title"/>
                  </event>
                  <event name="Unset">
                     <feature name="title"/>
                  </event>
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="org.eclipse.emf.transaction.tests.client">
         <selector class="org.eclipse.emf.transaction.tests.constraints.ClientSelector"/>
      </clientContext>
      <binding
            context="org.eclipse.emf.transaction.tests.client"
            category="org.eclipse.emf.transaction.tests"/>
   </extension>
   <extension point="org.eclipse.emf.transaction.editingDomains">
   	<editingDomain
   	      id="org.eclipse.emf.transaction.tests.TestDomain1"
   	      factory="org.eclipse.emf.transaction.tests.fixtures.TestEditingDomain$FactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.transaction.listeners">
   	<listener class="org.eclipse.emf.transaction.tests.EditingDomainRegistryTest$TestListener1">
   	    <editingDomain id="org.eclipse.emf.transaction.tests.TestDomain3"/>
	</listener>
   	<listener class="org.eclipse.emf.transaction.tests.EditingDomainRegistryTest$TestListener2">
   	    <editingDomain id="org.eclipse.emf.transaction.tests.TestDomain3"/>
   	    <editingDomain id="org.eclipse.emf.transaction.tests.TestDomain4"/>
	</listener>
   	<listener class="org.eclipse.emf.transaction.tests.EditingDomainRegistryTest$TestListener3">
	</listener>
   </extension>
</plugin>
