<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.transaction.examples.category"
            name="EMFT Transaction"
            parentCategory="org.eclipse.ui.Examples"/>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.eclipse.emf.transaction.examples.category"
            class="org.eclipse.emf.transaction.examples.internal.wizard.WorkspaceExampleWizard"
            hasPages="false"
            id="org.eclipse.emf.transaction.examples.workspace"
            name="Workspace Integration Example"/>
   </extension>
</plugin>
