<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 <!-- ============================= -->
 <!-- Define TOCs                   -->
 <!-- ============================= -->
<!--
   <extension
         point="org.eclipse.help.toc">
      <toc file="topics_Overviews.xml" />
      <toc file="topics_Tutorials.xml" />
      <toc file="topics_Examples.xml" />
      <toc file="topics_Reference.xml" />
      <index path="index"/>
   </extension>
-->   
 <!-- ============================= -->
 <!-- Define Javadoc locations      -->
 <!-- ============================= -->
<!--
  <extension point="org.eclipse.pde.core.javadoc">
      <javadoc path="references/javadoc">
          <plugin id="org.eclipse.emf.workspace"/>
          <plugin id="org.eclipse.emf.workspace.ui"/>
      </javadoc>
  </extension>
-->
</plugin>
