<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            name="EMF Workbench JUnit Test Constraints"
            id="org.eclipse.emf.workspace.tests"/>
      <constraintProvider cache="true">
         <package namespaceUri="http:///org/eclipse/emf/examples/library/extlibrary.ecore/1.0.0"/>
         <constraints categories="org.eclipse.emf.workspace.tests">
            <constraint
                  lang="Java"
                  class="org.eclipse.emf.workspace.tests.constraints.BookTitleConstraint"
                  severity="ERROR"
                  mode="Live"
                  name="Books must have titles"
                  id="bookTitle"
                  statusCode="1">
               <description>
                  Books must have non-null, non-empty titles.
               </description>
               <message>
                  Book does not have a title.
               </message>
               <target class="Book">
                  <event name="Set">
                     <feature name="title"/>
                  </event>
                  <event name="Unset">
                     <feature name="title"/>
                  </event>
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="org.eclipse.emf.workspace.tests.client">
         <selector class="org.eclipse.emf.workspace.tests.constraints.ClientSelector"/>
      </clientContext>
      <binding
            context="org.eclipse.emf.workspace.tests.client"
            category="org.eclipse.emf.workspace.tests"/>
   </extension>
</plugin>
